{% extends "base.html" %}
{% block main %}
    <H2>Информация для учащихся 9ых классов</H2>
    <div>&nbsp;</div>
    <p class="docref"><a href="/static/theory/docs/ref_gia.pdf">Справочная информация по ГИА</a></p>
{#    <p class="docref"><a href="/static/theory/docs/ma9_demo_2012.pdf">Демонстрационный вариант#}
{#        экзаменационной работы для проведения в 2012 году</a></p>#}
    <p class="docref"><a href="/static/theory/docs/ma9_kes_2012.pdf">Кодификатор элементов содержания по МАТЕМАТИКЕ</a></p>
    <p class="docref"><a href="/static/theory/docs/ma9_kt_2012.pdf">Кодификатор требований к уровню подготовки выпускников</a></p>
    <p class="docref"><a href="/static/theory/docs/ma9_spec_2012.pdf">Спецификация
        контрольных измерительных материалов для проведения в 2012 году</a></p>
{% endblock %}