{% extends "base.html" %}
{% block main %}
    <div class="row">
        <div class="span1">&nbsp;</div>
        <div class="span10">
            <H2>Информация для родителей учащихся 9-ых классов</H2>
            <div>&nbsp;</div>
            <h3>Полезные ссылки</h3>
            <p class="docref"><a href="http://www.fipi.ru">Федеральный институт педагогических измерений</a></p>
        </div>
        <div class="span1">&nbsp;</div>
    </div>
    <script type="text/javascript" language="JavaScript">
        $(document).ready(function(){
            selectedPage = 'parentpage';
        });
    </script>
{% endblock %}