{% extends "base.html" %}
{% block main %}
    <H2>Информация для родителей учащихся 6ых классов</H2>
    <div>&nbsp;</div>
    <H3>КАК БЫТЬ РОДИТЕЛЕМ ПОДРОСТКА?</H3>

    <p style="text-align: right">С. Сушинских</p>

    <p>Больше десяти лет назад вы стали родителем милого, долгожданного малыша. Вы вставали по ночам, меняли пеленки, кормили по часам, вы играли в бесконечные игры и отвечали на множество вопросов. Вы переживали, когда первый раз повели своего малыша в детский сад, вы плакали, впервые оставив его с другими взрослыми людьми. Вы отдали всю свою любовь в первые годы его жизни, вы вложили немало сил, чтобы ребенок рос и развивался, пошел в школу, занимался музыкой и спортом, чтобы у него было все необходимое. Вы дали ребенку уверенность, что вы его любите и заботитесь о нем.
        И, как все родители, внутри себя вы лелеяли надежду, что еще немного, и ваш ребенок станет «настоящим человеком». Вы сможете общаться с ним на таком уровне, что это вознаградит вас за весь тот труд, который в него вложен!
        Но какое потрясение!. Куда делся тот очаровательный малыш? Кто этот противоречивый, колючий человек, который поселился в вашем доме? Почему он все время спорит, предъявляет претензии, почему перестал заниматься музыкой и следить за собой?
        Родители начинают обвинять себя, искать причину в своих ошибках и промахах, допущенных при воспитании. Но самый главный вопрос: что же со всем этим делать, как себя вести?
        Для начала нужно успокоиться и осознать, <a href="#" class="more">что: </a><a href="#" class="less">Скрыть</a></p>
    <div class="more">
        <ol>
            <li>Происходящее вполне нормально и естественно. Ребенок вступил в новый возраст. Подростковый возраст считается кризисным, и это самый тяжелый период в жизни человека. Перемены, которые происходят с взрослеющим ребенком, значительны, а решить их надо быстро, поэтому без конфликтов, смятения и душевной боли в переходный период не обойтись.</li>
            <li>Когда ребенок был маленький, он в силу возраста и малого опыта не мог оспорить ваши догмы воспитания, и вы легко побеждали. Но сейчас ситуация изменилась. Подросток уже имеет силы и опыт для отстаивания своей, пусть и не всегда правильной, точки зрения.</li>
            <li>Вам нужно четко осознать, что выросший ребенок - сложившаяся личность, и вы не можете заставить человека стать таким, каким бы вам хотелось. Именно поэтому и возникает большинство конфликтов и споров.</li>
            <li>Подросток уже не ребенок, но еще не взрослый. Тем не менее, он считает себя взрослым. Он хочет выглядеть как взрослый, и у него появляется желание самостоятельно управлять собой и собственной жизнью. Но в силу возраста он еще не может контролировать себя, свое поведение, свои желания. Чтобы понять, что происходит с вашим ребенком, нужно принять его нового, со всеми его проблемами и противоречиями.</li>
            <li>Кроме внутренних конфликтов и конфликтов с родителями, подростку нужно решать конфликты со сверстниками, так как в этом возрасте происходит определение его социальной роли. Коллектив, к которому принадлежит подросток, имеет для него самое большое значение. Его цели, мировоззрение, его внешность изменяются под влиянием его окружения. В системе ценностей подростков родители уходят на второй план. Это нужно знать и опять же принять это как должное, делая все возможное, чтобы оставаться любимыми и дорогими людьми для него.</li>
        </ol>

        <p>Итак, что же делать, чтобы сохранить хорошие отношения с подростком:</p>
        <ul>
            <li>Дать ребенку уверенность, что родители любят его, принимают таким, какой он есть, всегда готовы помочь и никогда не бросят в беде.</li>
            <li>Уметь договариваться.</li>
            <li>Не навязывать своего общества. Подростку все чаще хочется побыть одному, у него появляется потребность побыть наедине с собой и своими чувствами.</li>
            <li>Что бы ни произошло, вы должны сохранять спокойствие и выдержку, а не читать нотаций. Подросток - почти взрослый человек, и решать проблемы с ним нужно уже по-взрослому, конструктивно.</li>
            <li>Как это ни странно звучит, но постарайтесь получить удовольствие от общения с ребенком уже в другой роли. Вспомните те времена, когда вы сами были подростком, о ваших желаниях и мечтах, стремлениях. Расскажите ребенку о том, каким подростком вы были. Ведь иногда понимание того, что ты не одинок в своих проблемах, оказывает серьезную поддержку.</li>
        </ul>

        <p>Чего делать нельзя:</p>
        <ul>
            <li>Использовать «взятки» (если ты будешь вести себя хорошо, я дам тебе карманные деньги).</li>
            <li>Постоянно контролировать все, что делает подросток (я отпущу тебя в гости, но ровно в 9 папа будет тебя встречать).</li>
            <li>Излишне строгое наказание (с завтрашнего дня ты сидишь неделю дома).</li>
            <li>Распоряжения в приказном тоне.
            <li>Шантаж (если я еще раз увижу у тебя сигареты, я не разрешу приятелям быть у тебя в гостях).</li>
            <li>Применять запугивания и телесные наказания.</li>
        </ul>
        <p>Подростковый возраст - трудное время, но вы любите подростка, а он любит вас! И, самое важное, решая проблемы, которые вы испытываете в отношениях с вашим ребенком, вы получаете бесценную возможность изменить в первую очередь что-то в себе!</p>
    </div>
    <script type="text/javascript">
        $(function() {
            $("div.more").hide();
            $("a.less").hide();
            $("a.more").click(function() {
                if ($("div.more").is(':hidden')) {
                    $("div.more").show();
                    $("a.less").show();
                }
            });
            $("a.less").click(function() {
                $("div.more").hide();
                $(this).hide();
            });
        });
    </script>
{% endblock %}