{% extends "base.html" %}
{% block main %}
    <div class="row">
        <div class="span1">&nbsp;</div>
        <div class="span10">
            <H3>ПОСВЯЩАЕТСЯ САМЫМ БЛИЗКИМ И РОДНЫМ</H3>
            <iframe width="420" height="315" src="http://www.youtube.com/embed/9DdslTHMRcU" frameborder="0" allowfullscreen></iframe>
            <H3>КАК БЫТЬ РОДИТЕЛЕМ ПОДРОСТКА?</H3>
            <p style="text-align: right">С. Сушинских</p>
            <p>Больше десяти лет назад вы стали родителем милого, долгожданного малыша. Вы вставали по ночам, меняли пеленки, кормили по часам, вы играли в бесконечные игры и отвечали на множество вопросов. Вы переживали, когда первый раз повели своего малыша в детский сад, вы плакали, впервые оставив его с другими взрослыми людьми. Вы отдали всю свою любовь в первые годы его жизни, вы вложили немало сил, чтобы ребенок рос и развивался, пошел в школу, занимался музыкой и спортом, чтобы у него было все необходимое. Вы дали ребенку уверенность, что вы его любите и заботитесь о нем.
                И, как все родители, внутри себя вы лелеяли надежду, что еще немного, и ваш ребенок станет «настоящим человеком». Вы сможете общаться с ним на таком уровне, что это вознаградит вас за весь тот труд, который в него вложен!
                Но какое потрясение!. Куда делся тот очаровательный малыш? Кто этот противоречивый, колючий человек, который поселился в вашем доме? Почему он все время спорит, предъявляет претензии, почему перестал заниматься музыкой и следить за собой?
                Родители начинают обвинять себя, искать причину в своих ошибках и промахах, допущенных при воспитании. Но самый главный вопрос: что же со всем этим делать, как себя вести?
                Для начала нужно успокоиться и осознать, <button type="button" class="btn" data-toggle="collapse" data-target="#par">что</button>
            <div class="collapse" id="par">
                <ol>
                    <li>Происходящее вполне нормально и естественно. Ребенок вступил в новый возраст. Подростковый возраст считается кризисным, и это самый тяжелый период в жизни человека. Перемены, которые происходят с взрослеющим ребенком, значительны, а решить их надо быстро, поэтому без конфликтов, смятения и душевной боли в переходный период не обойтись.</li>
                    <li>Когда ребенок был маленький, он в силу возраста и малого опыта не мог оспорить ваши догмы воспитания, и вы легко побеждали. Но сейчас ситуация изменилась. Подросток уже имеет силы и опыт для отстаивания своей, пусть и не всегда правильной, точки зрения.</li>
                    <li>Вам нужно четко осознать, что выросший ребенок - сложившаяся личность, и вы не можете заставить человека стать таким, каким бы вам хотелось. Именно поэтому и возникает большинство конфликтов и споров.</li>
                    <li>Подросток уже не ребенок, но еще не взрослый. Тем не менее, он считает себя взрослым. Он хочет выглядеть как взрослый, и у него появляется желание самостоятельно управлять собой и собственной жизнью. Но в силу возраста он еще не может контролировать себя, свое поведение, свои желания. Чтобы понять, что происходит с вашим ребенком, нужно принять его нового, со всеми его проблемами и противоречиями.</li>
                    <li>Кроме внутренних конфликтов и конфликтов с родителями, подростку нужно решать конфликты со сверстниками, так как в этом возрасте происходит определение его социальной роли. Коллектив, к которому принадлежит подросток, имеет для него самое большое значение. Его цели, мировоззрение, его внешность изменяются под влиянием его окружения. В системе ценностей подростков родители уходят на второй план. Это нужно знать и опять же принять это как должное, делая все возможное, чтобы оставаться любимыми и дорогими людьми для него.</li>
                </ol>

                <p>Итак, что же делать, чтобы сохранить хорошие отношения с подростком:</p>
                <ul>
                    <li>Дать ребенку уверенность, что родители любят его, принимают таким, какой он есть, всегда готовы помочь и никогда не бросят в беде.</li>
                    <li>Уметь договариваться.</li>
                    <li>Не навязывать своего общества. Подростку все чаще хочется побыть одному, у него появляется потребность побыть наедине с собой и своими чувствами.</li>
                    <li>Что бы ни произошло, вы должны сохранять спокойствие и выдержку, а не читать нотаций. Подросток - почти взрослый человек, и решать проблемы с ним нужно уже по-взрослому, конструктивно.</li>
                    <li>Как это ни странно звучит, но постарайтесь получить удовольствие от общения с ребенком уже в другой роли. Вспомните те времена, когда вы сами были подростком, о ваших желаниях и мечтах, стремлениях. Расскажите ребенку о том, каким подростком вы были. Ведь иногда понимание того, что ты не одинок в своих проблемах, оказывает серьезную поддержку.</li>
                </ul>

                <p>Чего делать нельзя:</p>
                <ul>
                    <li>Использовать «взятки» (если ты будешь вести себя хорошо, я дам тебе карманные деньги).</li>
                    <li>Постоянно контролировать все, что делает подросток (я отпущу тебя в гости, но ровно в 9 папа будет тебя встречать).</li>
                    <li>Излишне строгое наказание (с завтрашнего дня ты сидишь неделю дома).</li>
                    <li>Распоряжения в приказном тоне.
                    <li>Шантаж (если я еще раз увижу у тебя сигареты, я не разрешу приятелям быть у тебя в гостях).</li>
                    <li>Применять запугивания и телесные наказания.</li>
                </ul>
                <p>Подростковый возраст - трудное время, но вы любите подростка, а он любит вас! И, самое важное, решая проблемы, которые вы испытываете в отношениях с вашим ребенком, вы получаете бесценную возможность изменить в первую очередь что-то в себе!</p>
            </div>

            <H3>{{ 'Положение о портфолио учащегося'|upper }}</H3>
            <h4>1. Общие положения</h4>
            <p>Настоящее Положение разработано в рамках реализации комплексного проекта модернизации образования Российской Федерации, с целью индивидуализации и дифференциации процесса обучения в школе, личностного и профессионального самоопределения обучающихся, формирования у них мотивации на достижение определенных результатов воспитания, развития и социализации.</p>
            <p>Положение определяет порядок оценки деятельности учащихся общеобразовательного учреждения по различным направлениям с помощью составления комплексного Портфолио.</p>
            <p>«Портфель личных достижений» (далее портфолио) – это индивидуальная папка ученика, в которой фиксируются, накапливаются, оцениваются индивидуальные достижения в разнообразных видах деятельности: учебной, творческой, социальной, коммуникативной Портфолио ученика – это комплекс документов, представляющих совокупность сертифицированных и несертифицированных индивидуальных учебных достижений, выполняющих роль индивидуальной накопительной оценки, которая наряду с результатами экзаменов является составляющей рейтинга учащихся.</p>
            <p>Портфолио является основанием для составления рейтингов выпускников начальной, основной и средней школы по итогам обучения на соответствующей ступени образования. <button type="button" class="btn" id="mport" data-toggle="collapse" data-target="#port">Далее</button>
            <div class="collapse" id="port">
                <p>На первой ступени (начальная школа) важной задачей портфолио ученика является привитие учащимся первичных навыков самооценки, привлечение внимания родителей к успехам своих детей и вовлечение их в сотрудничество с учителем и самими учащимися. Портфолио служит для сбора информации о динамике продвижения обучающегося в учебной деятельности и позволяет  реально оценить готовность ребенка к обучению в среднем звене.</p>
                <p>На второй ступени (средняя школа) Портфолио служит для сбора информации об образовательных достижениях обучающегося в различных видах деятельности (учебно-познавательной, трудовой, творческой, общественной и т.д.), для повышения образовательной и общественной активности школьников, уровня осознания ими своих целей, потребностей, возможностей, личностных качеств, для определения дальнейшего профиля обучения.</p>
                <p>На третьей ступени обучения (старшая школа) Портфолио служит инструментом профилизации обучения и создания индивидуальной образовательной траектории обучающегося, отражает результаты индивидуальной образовательной активности, степени развитости, воспитанности и социализированности его личности.</p>
                <h4>2. Цели и задачи портфолио</h4>
                <p>Основные цели внедрения технологии портфолио – отслеживание, учёт и оценивание индивидуальных достижений учащихся, повышение образовательной активности школьников, создание индивидуального образовательного рейтинга обучающегося, в котором отражены реальные достижения каждого ученика.</p>
                <p>Основными задачами применения портфолио являются:</p>
                <ul>
                    <li>повышение качества образования в школе;</li>
                    <li>поддержание и поощрение высокой учебной мотивации обучающегося, его активности и самостоятельности;</li>
                    <li>систематическое вовлечение учащегося в различные виды деятельности, включая учебную, внеучебную, научную, творческую, спортивную;</li>
                    <li>развитие навыков оценочной деятельности учащихся, формирование адекватной самооценки;</li>
                    <li>формирование у учащегося умения учиться – ставить цели, планировать и организовывать собственную учебную деятельность;</li>
                    <li>создание ситуации успеха для каждого ученика;</li>
                    <li>содействие дальнейшей успешной социализации обучающегося.</li>
                </ul>
                <h4>3. Участники работы над портфолио и их функциональные обязанности</h4>
                <p>Участниками работы над портфолио являются учащиеся, их родители, классный руководитель, учителя-предметники, педагоги дополнительного образования и администрация школы.</p>
                Обязанности учащегося:
                <p>Оформляет портфолио в соответствии с принятой в школе структурой. Все записи ведет аккуратно, самостоятельно и систематически. Ученик имеет право включать в накопительную папку дополнительные разделы, материалы, элементы оформления, отражающие его индивидуальность.</p>
                Обязанности родителей:
                <p>Помогают в оформлении портфолио и осуществляют контроль за пополнением портфолио.</p>
                Обязанности классного руководителя:
                <p>Является консультантом и помощником, в основе деятельности которого – сотрудничество, определение направленного поиска, обучение основам ведения портфолио; организует воспитательную работу с учащимися, направленную на их личностное и профессиональное самоопределение. Осуществляет посредническую деятельность между обучающимися, учителями-предметниками и педагогами дополнительного образования. Осуществляет контроль пополнения учащимися портфолио. Классный руководитель оформляет итоговые документы на основании сертифицированных материалов, представленных в портфолио, и несёт ответственность за достоверность информации, представленной в итоговом документе.</p>
                Обязанности учителей-предметников, педагогов дополнительного образования:
                <p>Проводят информационную работу с обучающимися и их родителями по формированию портфолио. Предоставляют учащимся места деятельности для накопления материалов. Организуют проведение олимпиад, конкурсов, конференций по предмету или образовательной области. Разрабатывают и внедряют систему поощрений за урочную и внеурочную деятельность по предмету. Проводят экспертизу представленных работ по предмету и пишут рецензии, отзывы на учебные работы.</p>
                Обязанности администрации учебного заведения:
                <p>Заместитель директора по учебно-воспитательной работе организует работу и осуществляет контроль за деятельностью педагогического коллектива по реализации технологии портфолио в образовательном процессе школы и несёт ответственность за достоверность сведений, входящих в портфолио.</p>
                <p>Директор учебного заведения разрабатывает и утверждает нормативно-правовую базу, обеспечивающую ведение портфолио, а также распределяет обязанности участников образовательного процесса по данному направлению деятельности. Создает условия для мотивации педагогов к работе по новой системе оценивания и осуществляет общее руководство деятельностью педагогического коллектива по реализации технологии портфолио в практике работы школы.</p>
                <h4>4. Структура портфолио</h4>
                <p>Портфолио учащегося имеет титульный лист и состоит из четырех разделов.</p>
                <p>Оформление титульного листа представлено в Приложении 1</p>
                <p>I раздел: «Мой портрет».  Здесь содержатся сведения об учащемся, который может  представить его  любым способом. Здесь  могут быть личные данные учащегося, ведущего портфолио, его автобиография, личные  фотографии. Ученик ежегодно проводит самоанализ собственных планов и итогов года, ставит цели и анализирует достижения.</p>
                <p>II раздел: «Портфолио документов». В  этом разделе должны быть представлены сертифицированные (документированные) индивидуальные образовательные достижения. Здесь учащийся представляет  дипломы олимпиад, конкурсов, соревнований, сертификаты учреждений дополнительного образования, табели успеваемости, результаты тестирования.</p>
                <p>III раздел: «Портфолио работ». Учащийся представляет комплект своих творческих и проектных работ, описание основных форм и направлений его учебной и творческой активности, участие в школьных и внешкольных мероприятиях, конкурсах,  конференциях, прохождение элективных курсов, различного рода практик, спортивных и художественных достижений.</p>
                <p>IV раздел: «Портфолио отзывов». Он включает в себя отзывы, рецензии работ, характеристики классного руководителя, учителей-предметников, педагогов дополнительного образования на различные виды деятельности учащегося.</p>
                <h4>5. Оформление портфолио</h4>
                <p>Портфолио оформляется в соответствии с принятой в школе структурой, указанной в  пункте 4 настоящего Положения самим учеником в папке-накопителе с файлами на бумажных носителях и/или в электронном виде.</p>
                <p>По необходимости, работа учащихся с портфолио сопровождается помощью взрослых: педагогов, родителей, классных руководителей, в ходе совместной работы которых устанавливается отношения партнерства, сотрудничества. Это позволяет обучающимся  постепенно развивать самостоятельность, брать на себя контроль и ответственность.</p>
                <p>Учащийся имеет право включать в портфолио дополнительные материалы, элементы оформления с учетом его индивидуальности.</p>
                <p>При оформлении следует соблюдать следующие требования:</p>
                <ul>
                    <li>Записи вести аккуратно и самостоятельно.</li>
                    <li>Предоставлять достоверную информацию.</li>
                    <li>Каждый отдельный материал, включенный в портфолио, должен датироваться и визироваться (кроме грамот, благодарностей) в течение года.</li>
                    <li>В конце года ученик самостоятельно проводит  анализ личных достижений в различных видах деятельности и намечает планы действий с учетом имеющихся результатов.</li>
                </ul>
                <h4>6. Подведение итогов работы</h4>
                <p>Анализ работы над портфолио и исчисление итоговой оценки проводится классным руководителем.</p>
                <p>Система оценивания достижений учащихся по материалам портфолио представлена в таблице в Приложении 2 или 3.</p>
                <p>Оценка по каждому виду деятельности суммируется,  вносится в итоговый документ «Сводную итоговую ведомость», утверждается директором и заверяется печатью школы. Образец «Сводной итоговой ведомости» представлен в Приложении 4.</p>
                <p>По результатам оценки портфолио учащихся проводится годовой образовательный рейтинг, выявляются обучающиеся, набравшие наибольшее количество баллов в классе, параллели, школе. Победители поощряются.</p>
                <p>Если учащиеся школы участвуют в конкурсе на звание «Ученик года», то они предоставляют свои портфолио в жюри конкурса в сроки, согласно «Положению о конкурсе».</p>
            </div>
            <p class="docref"><a href="/static/theory/applic1.doc" target="_blank">Приложение 1</a></p>
            <p class="docref"><a href="/static/theory/applic2.docx" target="_blank">Приложение 2</a></p>
            <p class="docref"><a href="/static/theory/applic3.doc" target="_blank">Приложение 3</a></p>
            <p class="docref"><a href="/static/theory/applic4.doc" target="_blank">Приложение 4</a></p>
        </div>
        <div class="span1">&nbsp;</div>
    </div>
    <script type="text/javascript" language="JavaScript">
        $(document).ready(function(){
            selectedPage = 'parentpage';
        });
    </script>
{% endblock %}