<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Сайт учителя математики Морозовой Ирины Сергеевны">
    <script type="text/javascript" src="/static/scripts/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
{#        <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">#}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<script type="text/javascript">
    var selectedPage = '';
</script>
    <link type="text/css"  href="/static/css/base.css" rel="stylesheet"/>
    {% block links %}{% endblock %}
    <title>{% block title %}Тестирование{% endblock %}</title>
</head>
<body onload="{% block loader %}{% endblock %}">
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            {% block header %}
                <div class="nav">
                    <ul class="nav">
                        <li id="mainpage"><a href="/chapter/">Главная</a></li>
                        {% if chapter_list %}
                            {% if teacher %}
                                <li class="dropdown" id="testpage">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Статистика <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        {%  block menuinfo %}
                                            <li><a href="/statistics/students/">Статистика по студентам</a></li>
                                            <li><a href="/statistics/tests/">Статистика по тестам</a></li>
                                        {% endblock %}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endif %}
                        <li class="dropdown" id="studentpage">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ученикам <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/inquisitive/">Любознательным</a></li>
                                <li class="divider"/>
                                <li><a href="/info/5/">5 класс</a></li>
                                <li><a href="/info/7/">7 класс</a></li>
                            </ul>
                        </li>
                        <li id="parentpage"><a href="/info/parents/5/">Родителям</a></li>
                        <li id="methodpage"><a href="/method/">Методичка</a></li>
                        <li class="dropdown" id="aboutpage">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Обо мне <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/bio/">Биография</a></li>
                                <li><a href="/feedback/">Обратная связь</a></li>
                            </ul>
                        </li>
                        <li class="pull-right"><a href="http://new.mcko.ru/">Электронный Журнал</a></li>
                        <li><form class="navbar-form pull-right">
                            {% if user.is_authenticated %}<a class="btn btn-success" href="/accounts/logout/">Выход</a>{% else %}<a class="btn btn-success" href="/accounts/login/">Войти</a>{% endif %}
                        </form></li>
                    </ul>
                </div><!--/.nav-collapse -->
            {% endblock %}
        </div>
    </div>
</div>
<div class="container" id="main-container">
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <H1 id="main">Сайт учителя математики<br>Морозовой Ирины Сергеевны</H1>
    </div>
    {% if user.is_authenticated %}
        <div class="row">
            <div class="span8">&nbsp;</div>
            <div class="span3">

                <span class="pull-right label label-info" id="user_label">Пользователь: {{ user.first_name }} {{ user.last_name }}</span>

            </div>
            <div class="span1">&nbsp;</div>
        </div>
    {% endif %}
    {% block main %}{% endblock %}
    {% block footer %}
        <footer>
            <!-- Поместите этот тег туда, где должна отображаться кнопка +1. -->
            <div class="g-plusone" data-annotation="inline"></div>

            <!-- Поместите этот вызов функции отображения в соответствующее место. -->
            <script type="text/javascript">
                window.___gcfg = {lang: 'ru'};

                (function() {
                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                    po.src = 'https://apis.google.com/js/plusone.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                })();
            </script><br/><span class="copyright">© 2011, Морозова Ирина, Морозов Максим, frostbite3-at-gmail.com</span>
        </footer>
    {% endblock %}
</div>
<!-- Yandex.Metrika counter -->
<div style="display:none;"><script type="text/javascript">
    (function(w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter13027249 = new Ya.Metrika({id:13027249, enableAll: true});
            }
            catch(e) { }
        });
    })(window, "yandex_metrika_callbacks");
</script></div>
<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
<noscript><div><img src="//mc.yandex.ru/watch/13027249" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<script type="text/javascript" language="JavaScript">
    var $buoop = {vs:{i:8,f:12,o:11,s:5,n:9}}
    $buoop.ol = window.onload;
    $(document).ready(function(){
        $('#' + selectedPage).addClass('active');
        try {if ($buoop.ol) $buoop.ol();}catch (e) {}
        var e = document.createElement("script");
        e.setAttribute("type", "text/javascript");
        e.setAttribute("src", "http://browser-update.org/update.js");
        document.body.appendChild(e);
    });
</script>
</body>
</html>
