<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <link type="text/css"  href="/static/css/base.css" rel="stylesheet"/>
    {% block links %}{% endblock %}
    <title>{% block title %}Тестирование{% endblock %}</title>
</head>
<body onload="{% block loader %}{% endblock %}">
<table class="back" border="1" width="800">
    <tr>
        <td>
            {% block header %}
                <H1><img src="/static/images/logo.jpg" alt="ГОУ 1748 ЦО Вертикаль" height="40" style="vertical-align: top;" align="left">Тестирование по математике</H1>
                {% if user.is_authenticated %}
                    <table width="100%" class="gradient"><tr><td align="left" class="headerText"><a href="/chapter/">Главная</a>{% block menu %}{% endblock %}</td><td align="right" class="headerText">Пользователь: <span class="headerText highlight">{{ user.username }}</span></td><td align="right"><a href="/accounts/logout/">Выход</a></td></tr></table>
                {% endif %}
            {% endblock %}

            {% block main %}{% endblock %}
            {% block footer %}<br><span class="copyright">© 2011, Морозов Максим, frostbite3-at-gmail.com</span>{% endblock %}
        </td>
    </tr>
</table>
</body>
</html>