{% extends "base.html" %}
{% block main %}

{#    <div style="text-align: center"><img id="sln" src="/static/images/good.jpg" alt=""></div>#}
    <video width="320" height="240" controls="controls" preload="auto">
      <source src="/static/images/bear.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    <script type="text/javascript">
        $(function() {
            $("#sln")
                    .mouseover(function() {
                        var src = "/static/images/evil.jpg";
                        $(this).attr("src", src);
                    })
                    .mouseout(function() {
                        var src = "/static/images/good.jpg";
                        $(this).attr("src", src);
                    });
        });
    </script>
{% endblock %}