{% extends "base.html" %}
{% block main %}
    <H2>Морозова Ирина Сергеевна</H2>
    <div>&nbsp;</div>
    <h3>Образование: </h3>
    <p>Московсий Педагогический Университет, диплом с отличием. Квалификация: Учитель математики и информатики</p>
    <h3>Награды:</h3>
    <ul>
        <li>
            Финалист конкурса "Учитель года", 2003 Щелковского района
        </li>
        <li>
            Лауреат всероссийского конкурса учителей математики и физики фонда Дмитирия Зимина "Династия", 2006
        </li>
    </ul>
    <h3>Некая мудрая мысль:</h3>
    <p>Есть притча о царе, который  мечтал осчастливить свой народ и обратился за советом к мудрецам. Те задали ему три вопроса: какой час на земле самый главный, какой человек на земле самый главный,  какое дело на земле самое главное? Царь не сумел найти ответы на эти вопросы. А они были очень просты: самый главный час –  настоящий, тот,  который сейчас наступил; самым главным человеком является тот, что сейчас с тобой; дело, которое ты сейчас делаешь, и является самым важным. Применительно к моей педагогической философии и моему учительскому счастью отвечу на эти вопросы так. Любой урок – самый главный, ибо завтра будут уже другие уроки. Давать их ученикам – вот мое первое педагогическое счастье. Главный человек для меня –  мой ученик. Важно найти для каждого именно то слово, в котором он сейчас нуждается. В этом заключается мое второе счастье учителя. Именно сейчас я могу зажигать свет в их сердцах, звать к добру, задавать цель видеть смысл в любом деле. Вот мое третье счастье.</p>
    <div style="text-align: center"><img id="sln" src="/static/images/good.jpg" alt=""></div>
    <script type="text/javascript">
        $(function() {
            $("#sln")
                    .mouseover(function() {
                        var src = "/static/images/evil.jpg";
                        $(this).attr("src", src);
                    })
                    .mouseout(function() {
                        var src = "/static/images/good.jpg";
                        $(this).attr("src", src);
                    });
        });
    </script>
{% endblock %}