{% extends "base.html" %}
{% block title %} Разделы тестирования{% endblock %}
{% block links %}
    <style type="text/css">
        html {
            height: 650px;
        }
    </style>
{% endblock %}
{% block main %}
    <span class="mainText">
        {% if teacher or not chapterId%}
            <p style="font-size: medium; margin-left: 400px;">    Если учитель имеет только любовь к делу, он будет хороший учитель. Если учитель имеет только любовь к ученику, как отец, как мать, он будет лучше того учителя, который прочел все книги, но не имеет любви ни к делу, ни к ученикам. Если учитель соединяет в себе любовь к делу и к ученикам, он – совершенный учитель.
            </p><p style="text-align: right;font-size: medium; margin-left: 400px;">Л.Н. Толстой</p>
            <p style="font-size: inherit;">Здравствуйте! Я рада, что вы заглянули на мой сайт. Надеюсь, что вы сможете найти здесь полезную информацию. Современное общество требует от нас учителей идти с ним в ногу,  а это значит активно использовать на уроках информационные технологии. С помощью сайта мне хотелось бы найти единомышленников и поделиться опытом своей работы.</p>
            <img src="/static/images/main_bg.jpg" alt="">
        {% else%}
            {%  if user.is_authenticated and chapterId %}
                <ul>
                    <li><a href="train/">Тренировочный тест</a></li>
                    <li><a href="final/">Зачетный тест</a></li>
                </ul>
            {% else %}
                <p class="docref">Для получения доступа к ознакомительным тестам пожалуйста войдите на сайт, используя:
                </p>
                <ul class="docref">
                    <li>Имя пользователя: test</li>
                    <li>Пароль: test</li>
                </ul>
            {% endif %}
        {% endif %}
    </span>
{% endblock %}