{% extends "base.html" %}
{% block title %} Разделы тестирования{% endblock %}
{% block main %}
    {% if teacher %}
        <a href="/statistics/students/">Посмотреть статистику тестирования по студентам</a><br>
        <a href="/statistics/tests/">Посмотреть статистику тестирования по тестам</a>
        {% else %}

        {% if chapter_list %}
            <p>Выберите раздел для тестирования</p>
            <ul>
                {% for item in chapter_list %}
                    <li>{{item}} <a href="{{ item.id }}">Тренировочный тест</a> <a href="{{ item.id }}/final/">Зачетный тест</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Разделы отстутствуют.</p>
        {% endif %}
    {% endif %}
{% endblock %}