{% extends "base.html" %}
    {% block title %}{% if teacher %}Результаты{% else %}Конец{% endif %} {% endblock %}
{% block menu %}
    {% if teacher %}
        » <a href="/statistics/students/">Статистика по студентам</a> » Результат
    {% endif %}
{% endblock %}
{% block main %}
    {% if teacher %}
        <p>Результаты тестирования {{ session.student }} по разделу "{{ chapter }}"</p>
    {% else %}
        <p>Тестирование по разделу {{ chapter }} завершено!</p>
    {% endif %}
    <p>
        {% if teacher %}
            {{ session.student }} ответил(а) 
        {% else %}
            Вы ответили
        {% endif %} правильно на {{ session.correct }} из {{ session.total }} вопросов за {{ time }}
    </p>
    {% if answers %}
        <table>
            {% for answer in answers %}
                <tr>
                    <td>
                            <div class="task first">
                                {% if answer.actual|length == 0 %}
                                    <img align="middle" height="32" width="32" src="/static/images/checkmark.png">
                                {% else %}
                                    <img align="middle" height="32" width="32" src="/static/images/error.png">
                                {% endif %} {{ answer.task }} {% if answer.actual|length > 0  and answer.link %} <a href="{{ answer.link }}">Теория</a>{% endif %}
                            </div>
                            <div class="task correct   {% if answer.actual|length == 0 %}last{% endif %}">
                                Правильно
                                    <ul style="margin-bottom: 0;">
                                    {% for item in answer.correct %}
                                        <li>{{ item }}</li>
                                    {% endfor %}
                                    </ul>
                            </div>
                            {% if answer.actual|length > 0 %}
                            <div  class="incorrect task last">
                                Неправильно
                                    <ul >
                                    {% for item in answer.actual %}
                                        <li>{{ item }}</li>
                                    {% endfor %}
                                    </ul>
                            </div>
                            {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}