{% extends "base.html" %}
    {% block title %}{% if teacherMode %}Результаты{% else %}Конец{% endif %} {% endblock %}
{% block main %}
    {% if teacherMode %}
        <p>Результаты тестирования {{ session.student }} по разделу "{{ chapter }}"</p>
    {% else %}
        <p>Тестирование по разделу {{ chapter }} завершено!</p>
    {% endif %}
    <p>
        {% if teacherMode %}
            {{ session.student }} ответил 
        {% else %}
            Вы ответили
        {% endif %} правильно на {{ session.correct }} из {{ session.total }} вопросов за {{ time }}
    </p>
    {% if answers %}
        <table>
            {% for answer in answers %}
                <tr>
                    <td>
                        <table style="border-width: 1px; border-style: solid; border-radius: 8px;" width="800">
                            <tr>
                                <td style="background-color: #faebd7;" {% if answer.actual|length > 0 %}
                                    class="error"
                                {% endif %} >Задача: {{ answer.task }}</td>
                            </tr>
                            <tr>
                                <td style="background-color: #adff2f;">Правильно
                                    <ul>
                                    {% for item in answer.correct %}
                                        <li>{{ item }}</li>
                                    {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            {% if answer.actual|length > 0 %}
                            <tr>
                                <td class="error" style="background-color: #e9967a;">Неправильно
                                    <ul>
                                    {% for item in answer.actual %}
                                        <li>{{ item }}</li>
                                    {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            {% endif %}
                        </table>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <a href="/chapter/">Вернуться на список разделов</a>
{% endblock %}