{% extends "base.html" %}
{% block title %}{% if teacher %}Результаты{% else %}Конец{% endif %} {% endblock %}
{% block menu %}
    {% if teacher %}
        » <a href="/statistics/students/">Статистика по студентам</a> » Результат
    {% endif %}
{% endblock %}
{% block main %}
    <div class="row">
        <div class="span1">&nbsp;</div>
        <div class="span10">
            {% if teacher %}
                <div class="alert alert-info">Результаты тестирования {{ session.student.first_name }} {{ session.student.last_name }} по разделу "{{ chapter }}"</div>
            {% else %}
                <div class="alert alert-info">Тестирование по разделу {{ chapter }} завершено!</div>
            {% endif %}
            <p>
                {% if teacher %}
                    {{ session.student.first_name }} {{ session.student.last_name }} ответил(а)
                {% else %}
                    Вы ответили
                {% endif %} правильно на {{ session.correct }} из {{ session.total }} вопросов за {{ time }}
            </p>
        </div>
        <div class="span1">&nbsp;</div>
    </div>
    {% if answers %}
        {% for answer in answers %}
            <div class="row">
                <div class="span1">&nbsp;</div>
                <div class="span10">
                    {% if session.final or teacher or answer.actual|length == 0%}
                        <div class="alert alert-success {% if answer.actual|length == 0 %}last{% endif %}">
                            <div>
                                <img align="middle" height="32" width="32" src="/static/images/checkmark.png">
                                {{ answer.task|safe }}
                            </div>
                            <div>
                                Правильно
                                <ul>
                                    {% for item in answer.correct %}
                                        <li>{{ item|safe }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                    {% if answer.actual|length > 0 %}
                        <div class="alert alert-error">
                            <div>
                                <img align="middle" height="32" width="32" src="/static/images/error.png">
                                {{ answer.task|safe }}
                                {% if answer.actual|length > 0  and answer.link %} <a href="{{ answer.link }}">Теория</a>{% endif %}
                            </div>
                            <div>
                                Неправильно
                                <ul >
                                    {% for item in answer.actual %}
                                        <li>{{ item|safe }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="span1">&nbsp;</div>
            </div>

        {% endfor %}
    {% endif %}
{% endblock %}