{% extends "base.html" %}
{% block main %}
    <H2>Методические указания</H2>
    <div>&nbsp;</div>
    <p class="docref"><a href="/static/theory/scale.zip">Урок для 6-го класса по теме "Масштаб"</a></p>
    <p class="docref"><a href="http://narod.ru/disk/43290418001.f803784699ca7df64f054e9e6fa7f4d3/%D0%96%D0%B8%D0%B2%D0%B0%D1%8F%20%D0%BC%D0%B0%D1%82%D0%B5%D0%BC%D0%B0%D1%82%D0%B8%D0%BA%D0%B0.zip.html">Урок-путешествие для 5-го класса "Страна десятичных дробей (28 МБ)"</a></p>
    <p class="docref"><a href="/static/theory/program.doc">Программа факультатива</a></p>
{% endblock %}