<div id="searchform">
    <form method="GET" class="form-inline">
        <div class="form-row">
            {% if form.non_field_errors %}
                <div>
                    {% for err in form.non_field_errors %}
                        <div class="alert"><button type="button" class="close" data-dismiss="alert">×</button>{{ err }}</div>
                    {% endfor %}
                </div>
            {% endif %}
            {% for field in form.visible_fields %}
                {% for err in field.errors %}
                    <div class="alert"><button type="button" class="close" data-dismiss="alert">×</button>{{ err }}</div>
                {% endfor %}
            {% endfor %}
            {% for field in form.visible_fields %}
                {% if field.name != form.pagesize.name %}
                    {{ field }}
                {% endif %}
            {% endfor %}
            <input type="submit" class="btn btn-success" title="Найти" value="Найти" id="submit">
            {{ form.page }}
        </div>
        <div class="form-row">
            <div class="pagination">
                {% if stats.paginator and stats.paginator.num_pages > 1%}
                    <ul>
                        {% if stats.has_previous %}
                            <li><a id="prev" href="#"><<</a></li>
                        {% endif %}
                        {% for pn in stats.paginator.page_range %}
                            <li class="{% if pn == stats.number%}active{% endif %}"><a href="#" class="pagelink">{{ pn }}</a></li>
                        {% endfor %}
                        {% if stats.has_next %}
                            <li><a id="next" href="#">>></a></li>
                        {% endif %}
                    </ul>

                {% endif %}
            </div>
            {{ form.pagesize }}
        </div>
    </form>

</div>
<script>
    $(function() {
        $.datepicker.setDefaults( $.datepicker.regional[ "ru" ]);
        $( "#id_start" ).datepicker( );
        $( "#id_end" ).datepicker( );
        $( "#submit" ).button();
    });
    $('#next').click(
            function() {
                var val = $('#id_page').val();
                if (val == "")
                    val = 1;
                $('#id_page').val(parseInt(val) + 1);
                $('#searchform').find('form').submit();
            }
    );
    $('#prev').click(
            function() {
                $('#id_page').val(parseInt($('#id_page').val()) - 1);
                $('#searchform').find('form').submit();
            }
    );
    $('.pagelink').click(
            function() {
                $('#id_page').val(parseInt($(this).text()));
                $('#searchform').find('form').submit();
            }
    )
</script>