<div id="searchform">
    <form method="GET" class="form-inline">
        <div class="form-row">
            {% if form.non_field_errors %}
                <div>
                    {% for err in form.non_field_errors %}
                        <div class="alert">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            {{ err }}</div>
                    {% endfor %}
                </div>
            {% endif %}
            {% for field in form.visible_fields %}
                {% for err in field.errors %}
                    <div class="alert">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{ err }}</div>
                {% endfor %}
            {% endfor %}
            {% for field in form.visible_fields %}
                {% if field.name != form.pagesize.name %}
                    {{ field }}
                {% endif %}
            {% endfor %}
            <a class="btn btn-success" id="submit">Найти</a>
            {{ form.page }}
        </div>
        <div class="form-row">
            <div class="pagination">
                <ul>
                    {% if stats.paginator and stats.paginator.num_pages > 1 %}
                        {% if stats.has_previous %}
                            <li><a id="prev" href="#"><<</a></li>
                        {% endif %}
                        {% for pn in stats.paginator.visible_page_range %}
                            {% if pn > 0 %}
                                <li class="{% if pn == stats.number %}active{% endif %}"><a href="#" class="pagelink">{{ pn }}</a>
                                </li>
                            {% else %}
                                <li><a href="#">...</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if stats.has_next %}
                            <li><a id="next" href="#">>></a></li>
                        {% endif %}
                    {% endif %}
                    <li> {{ form.pagesize }}</li>
                </ul>
            </div>
        </div>
    </form>

</div>
<script>
    $(function () {
        $.fn.datepicker.defaults = {
            format:'dd.mm.yyyy', language:'ru'
        };
        //$.datepicker.setDefaults( $.datepicker.regional[ "ru" ]);
        $("#id_start").datepicker();
        $("#id_end").datepicker();
        $('input').placeholder();
    });

    $('#next').click(
            function () {
                var val = $('#id_page').val();
                if (val == "")
                    val = 1;
                $('#id_page').val(parseInt(val) + 1);
                $('#searchform').find('> form').submit();
            }
    );
    $('#prev').click(
            function () {
                $('#id_page').val(parseInt($('#id_page').val()) - 1);
                $('#searchform').find('> form').submit();
            }
    );
    $('.pagelink').click(
            function (e) {
                $('#id_page').val(parseInt($(this).text()));
                $('#searchform').find('> form').submit();
            }
    );
    $('#submit').click(
            function (e) {
                $('#searchform').find('> form').submit();
            }
    )
</script>