{% extends "base.html" %}
 {% block main %}
    <ul>
    {% if chapters %}
    {% endif %}
    {% for student in stats.keys %}
        <li>
            {{ student }} <a href="/statistics/chart/chapter/{{ 1 }}/student/{{ student.id }}/">Диаграмма</a>
            {% if student in stats.keys %}
            <ul>
                {% for key, value in stats.items %}
                    {% if key == student %}
                    {% for test in value %}
                        <li  {% if test.final %}class="finaltest" {% endif %}><a href="/statistics/test/{{ test.id }}/">{{ test.testDate }}
                            {% if test.total > test.correct  %}
                                : <span style="font-weight: bold;">Правильных ответов - {{ test.correct }}</span></a>
                            {% else %}
                                : <span style="color:green;">Все ответы правильные!</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                    {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}