{% extends "base.html" %}
{% block main %}
    {{ currentuser }}
    <table>
        <tr class="gradient"><th>Учащийся</th><th>Дата</th><th colspan="{{ stats.values.0.0.1|length }}">Задания</th><th align="center" rowspan="2">Балл</th></tr>
        {% for chap, st in stats.items %}
            {% for stat in st %}
                {% if forloop.first %}
                    <tr class="gradient"><th colspan="2">{{ chap }}</th>
                        {% for item in stat.1 %}
                            <th>{{ forloop.counter }}</th>
                        {% endfor %}</tr>
                {% endif %}
                <tr {% if forloop.counter|divisibleby:"2"  %} style="background-color: #00FFFF;" {% endif %}>
                    <td>{{ stat.0.student }}</td><td>{{ stat.0.testDate|date:"d/m/Y" }}</td>
                    {% for item in stat.1 %}
                        <td>
                            {% if item %}
                                <img src="/static/images/checkmark.png" alt="" width="20" height="20">
                            {% else %}
                                <img src="/static/images/error.png" alt="" width="20" height="20">
                            {% endif %}
                        </td>
                    {% endfor %}
                    <td align="center">{{ stat.0.correct }}</td>
                </tr>
            {% endfor %}
        {%  endfor %}
    </table>
    <a href="/statistics/tests/pdf">Загрузить в PDF</a>
{% endblock %}